.homebtnStyle {

    width:40%;
    display: flex;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
a {
    color: rgb(255, 255, 255) !important;
}

.homeCard {  
    padding: 10px
}
.app-btn{
    background-color: #cd004b;
    margin-bottom: 10px;
    padding: 10px;
    color: aliceblue;
    border:none;
    border-radius: 12px;
}
.status-btn {
    background-color: #cd004b;
    padding: 10px;
    color: aliceblue;
    border:none;
    border-radius: 12px;
    
}
// app-btn
// status-btn